<%- include('partials/_header.ejs') %>
    <div class="contenedorSlider">
        <div class="slides">
            <img src="https://i.ibb.co/dGx4KmM/pantalones.jpg" alt="">
            <div class="text">Texto</div>
        </div>

        <div class="slides">
            <img src="https://i.ibb.co/zx9CGzX/camisas.jpg" alt="">
            <div class="text">Texto</div>
        </div>

        <div class="slides">
            <img src="https://i.ibb.co/74DdTKP/ropa-ni-os.jpg" alt="">
            <div class="text">Texto</div>
        </div>

        <a class="prev" onclick="siguienteSlide(-1)">&#10094;</a>
        <a class="next" onclick="siguienteSlide(1)">&#10095;</a>
    </div>
    <br>
    <div>
        <span class="dot" onclick="dotSlide(1)">1</span>
        <span class="dot" onclick="dotSlide(2)">2</span>
        <span class="dot" onclick="dotSlide(3)">3</span>
    </div>
    <script src="/scripts/main.js"></script>
<%- include('partials/_footer.ejs') %>