<%- include('partials/_header.ejs') %>
    <div class="sliderContenedor">
        <input type="radio" name="slider" id="trigger1" checked autofocus>
        <label for="trigger1">
        </label>
        <div class="slide bg1"></div>

        <input type="radio" name="slider" id="trigger2">
        <label for="trigger2">
        </label>
        <div class="slide bg2"></div>

        <input type="radio" name="slider" id="trigger3">
        <label for="trigger3">
        </label>
        <div class="slide bg3"></div>

        <input type="radio" name="slider" id="trigger4">
        <label for="trigger4">
        </label>
        <div class="slide bg4"></div>
    </div>
    <%- include('partials/_footer.ejs') %>