body {
    background-color: #F0F0F0;
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin-left: 20px;
}

.nav-bar {
    background-color: #0F111A;
    padding: 10px 20px 10px 20px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 50px;
}

.contenedorGeneral {
    display: flex;
    justify-content: space-between;
}

.contenedorFormulario {
    padding: 10px;
    height: 100%;
    background-color: #FFFFFF;
    border-width: 1px;
    border-radius: 5px;
    border: solid 1px #E4CEE4;
    box-shadow: #acacac 2px 3px 8px;
}

.contenedorFormulario input {
    display: flex;
    background-color: #F4F4EC;
    flex-direction: column;
    font-size: 16px;
    height: 25px;
    margin-bottom: 20px;
    border: solid 1px #fff;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
}

input:focus {
    outline: none;
}

.btn-guardar {
    background-color: #0F111A;
    color: #fff;
    border-color: transparent;
    height: 35px;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Oswald', sans-serif;
}

.division {
    border: #0F111A 1px solid;
}

.tabla {
    background-color: #fff;
    box-shadow: #acacac 2px 3px 8px;
    /*derecha, abajo, difuminado */
    width: 90%;
    border-radius: 7px;
    text-align: left;
    padding: 15px;
}

.tabla td {
    border-top: #E4E4CE solid 1px;
    padding: 10px 0px 10px 0px;
}

.tabla button {
    background-color: #E4E4CE;
    margin-right: 3%;
    padding: 3px 7px 3px 7px;
    border: 0px;
    box-shadow: #acacac 2px 3px 2px;
}

.tabla a {
    color: #0F111A;
    text-decoration: none;
    padding: 5px;
}

.botones {
    display: flex;
    flex-direction: row;
}

.numero {
    width: 5%;
}

@media (min-width:768px) {
    .contenedorGeneral {
        padding: 10px;
    }
    .contenedorFormulario {
        margin: 0px 2% 0px 0px;
        width: 30%;
    }
    .contenedorFormulario input {
        width: 95%;
    }
    .contenedorTabla {
        margin: 0px 0px 0px 1.5%;
        width: 100%;
    }
}

@media (min-width:1420px) {
    .contenedorGeneral {
        padding: 10px 0.5% 10px 0.5%;
    }
    .contenedorFormulario {
        margin: 0px 15% 0px 0px;
        width: 20%;
    }
    .btn-guardar {
        width: 250px;
    }
    .contenedorTabla {
        margin: 0px 0px 0px 0.5%;
    }
}


/*CARROUSEL PAGINA PRINCIPAL*/

.contenedorSlider img {
    vertical-align: middle;
}

.slides {
    display: none;
}

.contenedorSlider {
    max-width: 100%;
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.informacionSlider {
    font-size: 25px;
    position: absolute;
    top: 65%;
    background-color: #ffff;
    border-radius: 17px;
    padding: 7px 17px 7px 17px;
    text-align: right;
}

.sliderIzquierda {
    margin-left: 5%;
}

.sliderDerecha {
    right: 0;
    margin-right: 5%;
}

.contenedorDots {
    width: 100%;
    text-align: center;
}

.dot {
    font-size: 0px;
    margin: 10px;
    padding: 13px;
    border-radius: 999px;
    background-color: #0F111A;
    cursor: pointer;
}