body {
    background-color: #F0F0F0;
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin-left: 20px;
}

.nav-bar {
    background-color: #0F111A;
    padding: 10px 20px 10px 20px;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 50px;
}

.contenedorGeneral {
    display: flex;
    justify-content: space-between;
}

.contenedorFormulario {
    padding: 10px;
    height: 100%;
    background-color: #FFFFFF;
    border-width: 1px;
    border-radius: 5px;
    border: solid 1px #E4CEE4;
    box-shadow: #acacac 2px 3px 8px;
}

.contenedorFormulario input {
    display: flex;
    background-color: #F4F4EC;
    flex-direction: column;
    font-size: 16px;
    height: 25px;
    margin-bottom: 20px;
    border: solid 1px #fff;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
}

input:focus {
    outline: none;
}

.btn-guardar {
    background-color: #0F111A;
    color: #fff;
    border-color: transparent;
    height: 35px;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Oswald', sans-serif;
}

.division {
    border: #0F111A 1px solid;
}

.tabla {
    background-color: #fff;
    box-shadow: #acacac 2px 3px 8px;
    /*derecha, abajo, difuminado */
    width: 90%;
    border-radius: 7px;
    text-align: left;
    padding: 15px;
}

.tabla td {
    border-top: #E4E4CE solid 1px;
    padding: 10px 0px 10px 0px;
}

.tabla button {
    background-color: #E4E4CE;
    margin-right: 3%;
    padding: 3px 7px 3px 7px;
    border: 0px;
    box-shadow: #acacac 2px 3px 2px;
}

.tabla a {
    color: #0F111A;
    text-decoration: none;
    padding: 5px;
}

.botones {
    display: flex;
    flex-direction: row;
}

.numero {
    width: 5%;
}

.contendedorCarrousel input {
    position: absolute;
}

.contendedorCarrousel label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px white;
    border-radius: 999px;
    background-color: transparent;
    margin: 95vh 6px 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
}

.contendedorCarrousel input:checked+label {
    background-color: white;
}

.contendedorCarrousel input:focus+label {
    box-shadow: 0 0 0 2px teal, 0 0 18px white;
}

.slide {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
}

.contendedorCarrousel input:checked~.slide {
    transform: translateX(100%);
}

.contendedorCarrousel input:checked+label+.slide {
    transform: translateX(0);
    opacity: 1;
}

.bg1 {
    background-image: url(https://images.unsplash.com/photo-1422806310414-91469fe4977e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=114e7a73b2385128045a5555b981e939);
}

.bg2 {
    background-image: url(https://images.unsplash.com/photo-1490020641477-3b0e96306b9a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=d8358f021c68f49335fe44b10f70b700);
}

.bg3 {
    background-image: url(https://images.unsplash.com/photo-1512529111457-3e8a595ef8e9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9b3ab76b65a358830d60ca43be76f2e1);
}

.bg4 {
    background-image: url(https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=92d2cae094fb24e5266221828ee251e2);
}

.bg5 {
    background-image: url(https://images.unsplash.com/reserve/wPCyys8TPCHY3GXm2N2D_ssp_inthewoods_1.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=654d988a19f43ca9ac27f2eacbe2a554);
}

@media (min-width:768px) {
    .contenedorGeneral {
        padding: 10px;
    }
    .contenedorFormulario {
        margin: 0px 2% 0px 0px;
        width: 30%;
    }
    .contenedorFormulario input {
        width: 95%;
    }
    .contenedorTabla {
        margin: 0px 0px 0px 1.5%;
        width: 100%;
    }
}

@media (min-width:1420px) {
    .contenedorGeneral {
        padding: 10px 0.5% 10px 0.5%;
    }
    .contenedorFormulario {
        margin: 0px 15% 0px 0px;
        width: 20%;
    }
    .btn-guardar {
        width: 250px;
    }
    .contenedorTabla {
        margin: 0px 0px 0px 0.5%;
    }
}